body {
	font-size: 16px;
	font-family: 'Hind', sans-serif;
	color: #616161;
	background: #fff;
}

h1 {
	color: #272727;
}

.home {
	padding-top: 130px;

	.btn {
		margin-bottom: 20px;
	}

	.form-horizontal {
		label {
			margin-top: 12px;
		}
	}
}

.sub-title {
	font-size: 18px;
	margin-bottom: 40px;
}

.plr100 {
	padding-left: 100px;
	padding-right: 100px;
}

.btn {
	border-radius: 4px;
	transition: all 0.35s;
}

.btn-base {
	padding: 17px 30px 14px;
	background-color: #34ad58;
	color: #fff;
	text-transform: uppercase;

	&:hover,
	&:focus {
		color: #fff;
		background-color: lighten(#34ad58, 5%);
	}
}

.btn-lg {
	font-size: 16px;
	font-weight: 700;
}

.form-control {
	border-radius: 4px;
	height: 45px;
	box-shadow: none;
	font-weight: 600;
	border-color: #ddd;

	&:focus {
		box-shadow: none;
		border-color: #ccc;
	}
}

.form-group {
	margin-bottom: 20px;
}

.note {
	font-size: 12px;
	text-align: left;
	margin-top: 5px;
	font-weight: 600;
	color: lighten(#616161, 30%);
	margin-bottom: 0;

}

.result {
	position: relative;

	.success_msg,
	.error_msg {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		display: none;
		font-size: 18px;
	}
}

.messages {
	margin-top: 20px;
}